.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img {
    height: 100%;
    width: 10%;
    object-fit: cover;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
}

.container img:hover {
    width: 25%;
}

.row {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 4px;
}